extends layout

mixin comment(data)
  p= data.username
  p= data.content


block content 
  h1= title
  p Welcome to #{title}
  form(action="/", method="POST")
    input(name="email", type="email", placeholder="Enter email address")
    button(type="submit") Submit
  for post in posts
    +comment(post)
